<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="'over'" [opened]="false" class="sidenav">
    <div class="sidenav-links">
      <button
        mat-button
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidenav(drawer)"
      >
        Home
      </button>
      <button
        mat-button
        routerLink="/philosophy"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Philosophy
      </button>
      <button
        mat-button
        routerLink="/pre-student-teaching"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Pre Student Teaching
      </button>
      <button
        mat-button
        routerLink="/resume"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Resume
      </button>
      <button
        mat-button
        routerLink="/student-learning"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Student Learning
      </button>
      <button
        mat-button
        routerLink="/learning-environments"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Learning Environments
      </button>
      <button
        mat-button
        routerLink="/assessment"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Assessment
      </button>
      <button
        mat-button
        routerLink="/planning-for-instruction"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Planning for Instruction
      </button>
      <button
        mat-button
        routerLink="/instructional-strategies"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Instructional Strategies
      </button>
      <button
        mat-button
        routerLink="/professional-responsibilities"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Professional Responsibilities
      </button>
      <button
        mat-button
        routerLink="/collaboration-and-leadership"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Collaboration and Leadership
      </button>
      <button
        mat-button
        routerLink="/racial-consciousness-and-reflection"
        routerLinkActive="active-link"
        (click)="closeSidenav(drawer)"
      >
        Racial Consciousness and Reflection
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="title">Safiie Seitatpiieva</span>
      <button mat-button routerLink="/" routerLinkActive="active-link">
        Home
      </button>

      <!-- First Dropdown -->
      <button
        mat-button
        #menu1Trigger="matMenuTrigger"
        (mouseenter)="mouseEnter(menu1Trigger)"
        (mouseleave)="mouseLeave(menu1Trigger, $event)"
        [matMenuTriggerFor]="menu1"
      >
        Teaching
      </button>

      <mat-menu #menu1="matMenu" [hasBackdrop]="false">
        <div
          (mouseenter)="mouseEnter(menu1Trigger)"
          (mouseleave)="mouseLeave(menu1Trigger, $event)"
        >
          <button
            mat-menu-item
            routerLink="/student-learning"
            routerLinkActive="active-link"
          >
            Student Learning
          </button>
          <button
            mat-menu-item
            routerLink="/learning-environments"
            routerLinkActive="active-link"
          >
            Learning Environments
          </button>
          <button
            mat-menu-item
            routerLink="/assessment"
            routerLinkActive="active-link"
          >
            Assessment
          </button>
          <button
            mat-menu-item
            routerLink="/planning-for-instruction"
            routerLinkActive="active-link"
          >
            Planning for Instruction
          </button>
          <button
            mat-menu-item
            routerLink="/instructional-strategies"
            routerLinkActive="active-link"
          >
            Instructional Strategies
          </button>
        </div>

        <app-menu-item 
        (mouseleave)="mouseLeave(menu1Trigger, $event)"
          (childMenuClosed)="childMenuClosed($event)"
          label="Dashboard"
          link="/dashboard"
          [dropdownItems]="[
            { label: 'Settings', link: '/settings' },
            { label: 'Profile', link: '/profile' },
            { label: 'Student Learning', link: '/student-learning'}
          ]"
        >
        </app-menu-item>
      </mat-menu>


      <!-- Second Dropdown -->
      <button
        mat-button
        #menu2Trigger="matMenuTrigger"
        (mouseenter)="mouseEnter(menu2Trigger)"
        (mouseleave)="mouseLeave(menu2Trigger, $event)"
        [matMenuTriggerFor]="menu2"
      >
        Professional
      </button>

      <mat-menu #menu2="matMenu" [hasBackdrop]="false">
        <div
          (mouseenter)="mouseEnter(menu2Trigger)"
          (mouseleave)="mouseLeave(menu2Trigger, $event)"
        >
          <button
            mat-menu-item
            routerLink="/resume"
            routerLinkActive="active-link"
          >
            Resume
          </button>
          <button
            mat-menu-item
            routerLink="/professional-responsibilities"
            routerLinkActive="active-link"
          >
            Professional Responsibilities
          </button>
          <button
            mat-menu-item
            routerLink="/collaboration-and-leadership"
            routerLinkActive="active-link"
          >
            Collaboration and Leadership
          </button>
        </div>
      </mat-menu>

      <!-- Third Dropdown -->
      <button
        mat-button
        #menu3Trigger="matMenuTrigger"
        (mouseenter)="mouseEnter(menu3Trigger)"
        (mouseleave)="mouseLeave(menu3Trigger, $event)"
        [matMenuTriggerFor]="menu3"
      >
        More
      </button>

      <mat-menu #menu3="matMenu" [hasBackdrop]="false">
        <div
          (mouseenter)="mouseEnter(menu3Trigger)"
          (mouseleave)="mouseLeave(menu3Trigger, $event)"
        >
          <button
            mat-menu-item
            routerLink="/philosophy"
            routerLinkActive="active-link"
          >
            Philosophy
          </button>
          <button
            mat-menu-item
            routerLink="/pre-student-teaching"
            routerLinkActive="active-link"
          >
            Pre Student Teaching
          </button>
          <button
            mat-menu-item
            routerLink="/racial-consciousness-and-reflection"
            routerLinkActive="active-link"
          >
            Racial Consciousness and Reflection
          </button>
        </div>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-hamburger
  [initialState]="false"
  [closed]="drawer.closedStart"
  (trigger)="drawer.toggle()"
  class="hamburger-button"
/>
