<div class="menu-item">
    <!-- Icon triggers dropdown -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon [ngClass]="{'rotated': isMenuOpen}">arrow_forward</mat-icon>
    </button>
  
    <!-- Link navigates to another page -->
    <a mat-button [routerLink]="link">{{ label }}</a>
  </div>
  
  <!-- Dropdown Menu -->
  <mat-menu #menu="matMenu">
    <a mat-menu-item *ngFor="let item of dropdownItems" [routerLink]="item.link">
      {{ item.label }}
    </a>
  </mat-menu>
  